.flex-center {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.padding-left {
    padding-left: 10px;
}

.content {
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}

.flex-wrap-space-between {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh;
}

button {
    background-color: #d3d3d340
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: white;
    padding: 10px 0px;
    z-index: 1;
    border-radius: 5px;
}

.button-wrapper button {
    background: none;
}

mat-card img{
    height: 15vw;
    object-fit: cover;
}

.narrowed-width {
    width: 80%;
}

.wrap {
    flex-wrap: wrap;
}

mat-card mat-card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

mat-card {
    margin: 5px;
    
}

mat-card-actions {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.category-background {
    background-color: #f9ab0029;
}

.padding-top-bottom {
    padding: 30px 0px;
}

.icon-margins {
    margin-right: 20px;
    margin-top: 12px;
}

.category {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: large;
}