.space-between {
    justify-content: space-between;
}

.red-button {
    background: rgb(202, 162, 162);
}

mat-card {
    margin: 5px;
}

.fancy-button {
    display: inline-flex;
}

.fancy-button button {
    border: none;
    background: none;
}