<h2 *ngIf="!dialogData.isForView; else viewOrder" mat-dialog-title>Your order:</h2>
<h3>Total Price: {{computePrice | number : '1.2-2'}}</h3>

<ng-template #viewOrder>
    <h2 mat-dialog-title>Selected Food Items:</h2>
</ng-template>

<div *ngFor="let element of dialogData.foodItems; let i = index">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>
                {{element.name}}
                <div class="fancy-button">
                    <button *ngIf="!dialogData.isForView" mat-button-icon (click)="remove(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-subtitle>{{element.price}}</mat-card-subtitle>
            <img mat-card-sm-image src="{{element.imageLink}}" >
        </mat-card-title-group>
        <mat-card-content>
          {{element.description}}
        </mat-card-content>
      </mat-card>
</div>

<form [formGroup]="orderDetailsForm" *ngIf="!dialogData.isForView">
    <mat-form-field>
        <mat-label for="address">
        Address
        </mat-label>
        <input matInput placeholder="Address" id="address" type="text" formControlName="address">
        <mat-error>Required Field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="specialDetails">
            Special Details
        </mat-label>
        <input matInput placeholder="Special Details" id="specialDetails" type="text" formControlName="specialDetails">
        <mat-error>Required Field</mat-error>
    </mat-form-field>
</form>

<!-- is it needed? -->
<!-- <div *ngIf="dialogData.isForView">
    <h3>Address: </h3>
    <h3>Special Details: </h3>
</div> -->
    
<mat-dialog-actions class="space-between">
    <button *ngIf="!dialogData.isForView" [ngClass]="{'red-button': dialogData.foodItems.length === 0}" mat-raised-button (click)="order()">Place Order</button>
    <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>